# Archivos de configuración
.gitignore
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias
/node_modules
/.pnp
.pnp.js
.cache
.yarn
yarn.lock

# Construcción
/build
/dist

# Herramientas de desarrollo
/.idea
.vscode
*.json

