
		.titulo{
            text-align: center;
            font-size: 72px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }

        .marco{
margin-top: 100px;
    background-color: #ccc;
    width: 60%;
    align-self: auto;
    margin-left: 20%;
    border-width: 12px;  
    border-color: #919090;
    border-radius: 9px;
    text-align: center;
    border-style:double;
    padding: 0px;    
        }

        .boton{
            background-color: blue;
            color: aliceblue;
            border-radius: 6px;
            font-size: 28px;
            margin-left: 150px;
            margin-top: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-style: normal;
            vertical-align: auto;
            font-weight: 600;
        }